Query a list of CITY names from STATION for cities that have an even ID number. Print the results in any order, but exclude duplicates from the answer.
The STATION table is described as follows:

In [ ]:
select distinct city
from station
where id %2=0

Find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.
The STATION table is described as follows:

In [ ]:
select count(city) - count(distinct(city)) from station;

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.


**Sample Input**

For example, CITY has four entries: DEF, ABC, PQRS and WXY.

**Sample Output**

ABC 3
PQRS 4
Explanation

When ordered alphabetically, the CITY names are listed as ABC, DEF, PQRS, and WXY, with lengths  and . The longest name is PQRS, but there are  options for shortest named city. Choose ABC, because it comes first alphabetically.

**Note**
You can write two separate queries to get the desired output. It need not be a single query.

In [ ]:
select CITY,LENGTH(CITY) 
from STATION 
order by LENGTH(CITY) asc, CITY limit 1; 

select CITY,LENGTH(CITY) 
from STATION 
order by LENGTH(CITY) desc, CITY limit 1;

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

Input Format

The STATION table is described as follows:

In [ ]:
select distinct city
from station
where city regexp '^[aeiou]'

Termine com vogais

In [ ]:
select distinct city
from station
where city REGEXP '[AEIOU]$'

Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

In [ ]:
select distinct city
from station
where city REGEXP '^[aeiou]' AND city REGEXP '[aeiou]$'

Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

In [ ]:
select distinct city
from station
where city regexp '^[^aeiou]'

Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

In [ ]:
select distinct city
from station
where city REGEXP '[^AEIOU]$'

Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates.

In [ ]:
select distinct city
from station
where city regexp '^[^aeiou].*|[^aeiou]$'

Query the list of CITY names from STATION that do not start with vowels and do not end with vowels. Your result cannot contain duplicates.

In [ ]:
select distinct city
from station
where city regexp '^[^aeiou].*[^aeiou]$'

Query the Name of any student in STUDENTS who scored higher than  Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID.

In [ ]:
select name
from students
where marks > 75 
order by substr(name,-3),id asc